//===============================================================================
// VARIABLES
//===============================================================================
$paper:  white;
$ink:    #030017;
$col1: hsla(190, 30%, 44%, 1);
$col2: hsla(190, 60%, 44%, 1);
$col3: hsla(110, 30%, 44%, 1);

$brightgreen: #00feeb;
$purple: #7a21fd;
$blue: #0142e8;
$purple2: #3b008e;