
@import "_variables.scss";
//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}

html,
body {
  background-color: $ink;
  color: $paper;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%; 
  overflow: hidden;
}

//===============================================================================
// STYLES
//===============================================================================
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
