/* line 5, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/itomblack/Repos/sound-test/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 30, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 36, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 42, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
html, body {
  background-color: #030017;
  color: white;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-animation: opacityUp 2s ease;
  animation: opacityUp 2s ease; }

/* line 53, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
body {
  -webkit-animation: opacityUp 2s ease;
  animation: opacityUp 2s ease; }

/* line 62, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.harmonica, .harmonica-notes {
  position: fixed;
  width: 700px;
  height: 162px;
  top: -webkit-calc(50% - 100px);
  top: calc(50% - 100px);
  left: -webkit-calc(50% - 350px);
  left: calc(50% - 350px); }
  @media screen and (max-width: 768px) {
    .harmonica, .harmonica-notes {
      width: 450px;
      height: 105px;
      top: -webkit-calc(50% - 65px);
      top: calc(50% - 65px);
      left: -webkit-calc(50% - 225px);
      left: calc(50% - 225px); } }
  @media screen and (max-width: 480px) {
    .harmonica, .harmonica-notes {
      width: 350px;
      height: 81px;
      top: -webkit-calc(50% - 55px);
      top: calc(50% - 55px);
      left: -webkit-calc(50% - 175px);
      left: calc(50% - 175px); } }

/* line 84, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.wiggle {
  -webkit-animation: wiggle 2s ease;
  animation: wiggle 2s ease; }

/* line 86, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.harmonica-notes {
  display: none; }

/* line 91, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.harmonica img {
  width: 100%; }

/* line 96, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
[class^="row-"] {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  height: 100%; }

/* line 104, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.row-blow {
  top: -100%; }
  /* line 107, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  .row-blow .square {
    -webkit-box-shadow: inset 0px 0px 0px 0px #00feeb;
    box-shadow: inset 0px 0px 0px 0px #00feeb; }
    /* line 109, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
    .row-blow .square:hover, .row-blow .square.highlight-row {
      -webkit-box-shadow: inset 0px -500px 0px 0px #7a21fd;
      box-shadow: inset 0px -500px 0px 0px #7a21fd; }

/* line 115, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.row-draw {
  bottom: -100%; }
  /* line 118, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  .row-draw .square {
    -webkit-box-shadow: inset 0px 0px 0px 0px #7a21fd;
    box-shadow: inset 0px 0px 0px 0px #7a21fd; }
    /* line 121, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
    .row-draw .square:hover {
      -webkit-box-shadow: inset 0px 500px 0px 0px #00feeb;
      box-shadow: inset 0px 500px 0px 0px #00feeb; }

/* line 127, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.square {
  width: 10%;
  height: 100%;
  background-color: #030017;
  float: left;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }

/* line 138, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.key-selected {
  display: block; }

/* line 139, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.js-hide {
  display: none; }

/* line 141, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: -webkit-calc(50% - 120px);
  padding-left: calc(50% - 120px);
  border-top: 1px solid #0142e8;
  background-color: none; }
  /* line 149, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  .footer button {
    float: left;
    background-color: #030017;
    color: #0142e8;
    border: none;
    appearance: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 50px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none; }
    /* line 164, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
    .footer button:hover {
      background-color: #0142e8;
      color: #030017;
      opacity: 1; }
    /* line 170, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
    .footer button.active {
      background-color: #0142e8;
      color: #030017; }

/* line 178, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.intro-box {
  width: 220px;
  height: 70px;
  border: 1px solid #00feeb;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #00feeb;
  position: absolute;
  bottom: 60px;
  left: -webkit-calc(50% - 110px);
  left: calc(50% - 110px);
  -webkit-animation: borderChange 2s infinite;
  animation: borderChange 2s infinite; }
  /* line 193, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  .intro-box p {
    position: relative;
    padding: 0;
    margin: 0; }
    /* line 198, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
    .intro-box p::after {
      -webkit-animation: borderChange 2s infinite;
      animation: borderChange 2s infinite;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: 99px;
      bottom: -20px;
      border-top: 3px solid #00feeb;
      border-right: 3px solid #00feeb;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

/* line 216, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.hide-all {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #030017; }

/* line 224, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.opacity-up {
  -webkit-animation: opacityUp 2s ease;
  animation: opacityUp 2s ease; }

/* line 226, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
.js-clicked {
  -webkit-animation: colChange 1s ease;
  animation: colChange 1s ease; }

@-webkit-keyframes borderChange {
  /* line 231, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    border-color: #00feeb; }

  /* line 232, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  50% {
    border-color: #0142e8; }

  /* line 233, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    border-color: #00feeb; } }

@keyframes borderChange {
  /* line 231, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    border-color: #00feeb; }

  /* line 232, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  50% {
    border-color: #0142e8; }

  /* line 233, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    border-color: #00feeb; } }

@-webkit-keyframes colChange {
  /* line 237, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    background-color: #4f8792; }

  /* line 238, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  50% {
    background-color: #5a924f; }

  /* line 239, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    background-color: #4f8792; } }

@keyframes colChange {
  /* line 237, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    background-color: #4f8792; }

  /* line 238, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  50% {
    background-color: #5a924f; }

  /* line 239, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    background-color: #4f8792; } }

@-webkit-keyframes opacityUp {
  /* line 244, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    opacity: 0; }

  /* line 245, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    opacity: 1; } }

@keyframes opacityUp {
  /* line 244, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    opacity: 0; }

  /* line 245, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    opacity: 1; } }

@-webkit-keyframes wiggle {
  /* line 249, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 250, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  20% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }

  /* line 251, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  40% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 252, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  60% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }

  /* line 253, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  80% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 254, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes wiggle {
  /* line 249, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 250, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  20% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }

  /* line 251, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  40% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 252, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  60% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }

  /* line 253, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  80% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

  /* line 254, /Users/itomblack/Repos/sound-test/src/sass/styles.scss */
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
